@charset "ISO-8859-1";

footer {
  margin: auto;
  background: url("../images/footer/bg.png") repeat-x scroll center 0pt,
    url("../images/footer/bg_copyleft.png") repeat-x scroll 0 76pt transparent;
  text-align: center;
  clear: both;
  font-size: 11px;
  padding: 20px;
  min-height: 150px;
}