@charset "UTF-8";

form {
  margin: 0 0 20px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 40px;
  border: 0;
  border-bottom: 1px solid rgba(205, 167, 14, .75);
}

legend small {
  font-size: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  max-width: 206px;
  width: 100%;
}

.radio input[type="radio"],.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

.radio,.checkbox {
  min-height: 20px;
  padding-left: 20px;
}

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input
  {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  color: #eeeeee;
  vertical-align: middle;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
}

input,textarea,.uneditable-input {
  width: 100%;
}

input,.uneditable-input {
  max-width: 206px;
}

textarea {
  height: auto;
}

textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input
  {
  background-color: #000000;
  border: 1px solid #2E3239;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -khtml-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: color 300ms ease-in 0ms, border linear .2s, box-shadow
    linear .2s;
  -moz-transition: color 300ms ease-in 0ms, border linear .2s, box-shadow linear
    .2s;
  -khtml-transition: color 300ms ease-in 0ms, border linear .2s, box-shadow linear
    .2s;
  -o-transition: color 300ms ease-in 0ms, border linear .2s, box-shadow linear .2s;
  transition: color 300ms ease-in 0ms, border linear .2s, box-shadow linear .2s;
}

textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus
  {
  background-color: #22252a;
  border-color: rgba(82, 168, 236, .8);
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
    rgba(82, 168, 236, .6);
  -khtml-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
    rgba(82, 168, 236, .6);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
    rgba(82, 168, 236, .6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
    rgba(82, 168, 236, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
}

input[type="radio"],input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0; /* IE7 */
  margin-top: 1px \9; /* IE8-9 */
  line-height: normal;
}

input[type="file"],input[type="image"],input[type="submit"],input[type="reset"],input[type="button"],input[type="radio"],input[type="checkbox"]
  {
  width: auto;
}

select,input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px; /* For IE7, add top margin to align select with labels */
  line-height: 30px;
}

select {
  width: 220px;
  border: 1px solid #2E3239;
  background-color: #000000;
}

select:focus,input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus
  {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.uneditable-input,.uneditable-textarea {
  color: #999999;
  background-color: #000000;
  border-color: #2E3239;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -khtml-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}

.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}

.uneditable-textarea {
  width: auto;
  height: auto;
}

input:-moz-placeholder,textarea:-moz-placeholder {
  color: #eeeeee;
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
  color: #eeeeee;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
  color: #eeeeee;
}

input[class*="span"],select[class*="span"],textarea[class*="span"],.uneditable-input[class*="span"]
  {
  float: none;
  margin-left: 0;
}

input,textarea,.uneditable-input {
  margin-left: 0;
}

input[disabled],select[disabled],textarea[disabled],input[readonly],select[readonly],textarea[readonly]
  {
  cursor: not-allowed;
  background-color: #333333;
}

input[type="radio"][disabled],input[type="checkbox"][disabled],input[type="radio"][readonly],input[type="checkbox"][readonly]
  {
  background-color: transparent;
}

input:focus:invalid,textarea:focus:invalid,select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}

input:focus:invalid:focus,textarea:focus:invalid:focus,select:focus:invalid:focus
  {
  background-color: #22252a;
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  -khtml-box-shadow: 0 0 6px #f8b9b7;
  -o-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

button,input[type="submit"],input[type="reset"],input[type="button"],.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
  vertical-align: middle;
  cursor: pointer;
  color: #e8e6db;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  border-color: #666666 #141414 #141414;
  border-right: 1px solid #141414;
  border-style: solid;
  border-width: 1px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px
    rgba(0, 0, 0, .05);
  -khtml-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px
    rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px
    rgba(0, 0, 0, .05);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px
    rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #39341e;
  background: -moz-linear-gradient(center top, #cda70e, #39341e);
  background: -webkit-gradient(linear, left bottom, left top, from(#39341e),
    to(#cda70e) );
  background: -khtml-gradient(linear, left bottom, left top, from(#39341e),
    to(#cda70e) );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cda70e',
    endColorstr='#39341e' ); /* for IE */
  background-image: -o-linear-gradient(top, #cda70e, #39341e);
  background-image: -ms-linear-gradient(top, #cda70e, #39341e);
  background-image: -webkit-linear-gradient(top, #cda70e, #39341e);
  background-image: linear-gradient(top, #cda70e, #39341e);
  background-repeat: repeat-x;
  *background-color: #cda70e;
}

button:hover,input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,button:active,input[type="submit"]:active,input[type="reset"]:active,input[type="button"]:active,button[disabled],input[type="submit"][disabled],input[type="reset"][disabled],input[type="button"][disabled],button.active,input[type="submit"].active,input[type="reset"].active,input[type="button"].active,button.disabled,input[type="submit"].disabled,input[type="reset"].disabled,input[type="button"].disabled,.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled]
  {
  color: #999999;
  background-color: #39341e;
  *background-color: #39341e;
}

button:active,input[type="submit"]:active,input[type="reset"]:active,input[type="button"]:active,button.active,input[type="submit"].active,input[type="reset"].active,input[type="button"].active,.btn:active,.btn.active
  {
  background-color: #39341e \9;
}

button:first-child,input[type="submit"]:first-child,input[type="reset"]:first-child,input[type="button"]:first-child,.btn:first-child
  {
  *margin-left: 0;
}

button:hover,input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,.btn:hover
  {
  color: #FFFFFF;
  background-position: 0 -15px;
  text-decoration: none;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
  border-color: #a18f48 #4e3f05 #4e3f05;
  border-right: 1px solid #4e3f05;
  border-style: solid;
  border-width: 1px;
}

button:focus,input[type="submit"]:focus,input[type="reset"]:focus,input[type="button"]:focus,.btn:focus
  {
  outline: thin dotted #4e3f05;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

button.active,input[type="submit"].active,input[type="reset"].active,input[type="button"].active,button:active,input[type="submit"]:active,input[type="reset"]:active,input[type="button"]:active,.btn.active,.btn:active
  {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px
    rgba(0, 0, 0, .05);
  -khtml-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px
    rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px
    rgba(0, 0, 0, .05);
  -o-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
}

button.disabled,input[type="submit"].disabled,input[type="reset"].disabled,input[type="button"].disabled,button[disabled],input[type="submit"][disabled],input[type="reset"][disabled],input[type="button"][disabled],.btn.disabled,.btn[disabled]
  {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity = 65);
  -webkit-box-shadow: none;
  -khtml-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}