@charset "ISO-8859-1";

body>header {
  height: 260px;
  background: url('../images/header/bg.png') repeat scroll center 0,
    url('../images/header/banniere.jpg') no-repeat scroll center 30px;
  margin-bottom: -60px;
}

section header {
  color: #eee;
  margin: 5px 10px 5px 10px;
  padding: 5px;
}

section header p {
  color: #777777;
  font-size: 11px;
  line-height: 0;
  margin-left: 115px;
  word-spacing: 2pt;
}