@charset "UTF-8";

table {
  table-layout: fixed;
}

caption+thead tr:first-child th,caption+thead tr:first-child td,colgroup+thead tr:first-child th,colgroup+thead tr:first-child td,thead:first-child tr:first-child th,thead:first-child tr:first-child td
  {
  border-top: 0;
}

table,tr {
  border: 0px;
}

table th,table td {
  padding: 6px;
  text-align: left;
  vertical-align: top;
}

table th {
  font-weight: bold;
}

thead th {
  vertical-align: bottom;
  background: url('../images/table/head.png') repeat !important;
  background-position: center center;
  color: #eee;
  text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
  box-shadow: 0 -54px 8px -50px rgba(0, 0, 0, 0.8) inset, 0 0 0 1px
    rgba(0, 0, 0, 0.2) inset, 0 10px 10px rgba(255, 255, 255, 0.1) inset, 0 0 0
    1px rgba(255, 255, 255, 0.06) inset, 0 0 5px rgba(0, 0, 0, 0.4) inset, 0 0 0
    2px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 -54px 8px -50px rgba(0, 0, 0, 0.8) inset, 0 0 0 1px
    rgba(0, 0, 0, 0.2) inset, 0 10px 10px rgba(255, 255, 255, 0.1) inset, 0 0 0
    1px rgba(255, 255, 255, 0.06) inset, 0 0 5px rgba(0, 0, 0, 0.0) inset, 0 0 0
    2px rgba(0, 0, 0, 0.0);
  -khtml-box-shadow: 0 -54px 8px -50px rgba(0, 0, 0, 0.8) inset, 0 0 1px
    rgba(0, 0, 0, 0.2) inset, 0 10px 10px rgba(255, 255, 255, 0.1) inset, 0 0 0
    1px rgba(255, 255, 255, 0.06) inset, 0 0 5px rgba(0, 0, 0, 0.4) inset, 0 0 0
    2px rgba(0, 0, 0, 0.9);
  -o-box-shadow: 0 -54px 8px -50px rgba(0, 0, 0, 0.8) inset, 0 0 0 1px
    rgba(0, 0, 0, 0.2) inset, 0 10px 10px rgba(255, 255, 255, 0.1) inset, 0 0 0
    1px rgba(255, 255, 255, 0.06) inset, 0 0 5px rgba(0, 0, 0, 0.4) inset, 0 0 0
    2px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 -54px 8px -50px rgba(0, 0, 0, 0.8) inset, 0 0 1px
    rgba(0, 0, 0, 0.2) inset, 0 10px 10px rgba(255, 255, 255, 0.1) inset, 0 0 0
    1px rgba(255, 255, 255, 0.06) inset, 0 0 5px rgba(0, 0, 0, 0.4) inset, 0 0 0
    2px rgba(0, 0, 0, 0.9);
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}