{% extends "::base.html.twig" %}

{% block title %}Menu - {{ parent() }}{% endblock %}

{% block container %}
    <div>
        {% block instinct_menu_content %}
        {% endblock %}
    </div>
{% endblock %}
