{% extends 'InstinctUserBundle:Admin:layout.html.twig' %}


{% block fos_user_content %}
<h1>Group creation</h1>

<form action="{{ path('instinct_user_admin_group_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('instinct_user_admin_group_index') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}