<ul id="menu">
{% for entry in entries %}
  <li class="header_menu_level_1">
      <a href="{{ path(entry.route) }}" title="{{ entry.description }}" >
      {{ entry.title }}
      </a>
  </li>
{% endfor %}
</ul>