#publicite{
    height: 0;
    left: -564px;
    margin: auto;
    position: relative !important;
    top: 733px;
    width: 120px;
    z-index: 0;
	
	border: 0px solid #D6D6D6;
	overflow: visible;
}

#publicite .content {	
    display: none;
}
#publicite .content_ancre {
    display: block;
}

#publicite .ancre {
	margin-right: 5px;
	text-align: right;
}