{% extends "::base.html.twig" %}

{% block title %}News - {{ parent() }}{% endblock %}

{% block container %}
    <div>
        {% block instinct_news_content %}
        {% endblock %}
    </div>
{% endblock %}
