#infobulle {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
	
	font-family: Tahoma, "Lucida Sans Unicode", sans-serif;
	font-size: 12px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25) !important;
	background-color: rgba(25,25,25,0.92) !important;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000)) !important;
	border-radius: 3px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-khtml-border-radius: 10px;
	box-shadow: 0 0 10px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
	-o-box-shadow: 0 0 3px #555;
	-khtml-box-shadow: 0 0 3px #555;
}

#infobulle table, #infobulle table tr , #infobulle table tr td {
	background: none !important;
}

#infobulle table tr td{
	color: #79704A;
	
}

#infobulle table tr td table tr td{
	color: #ffffff;
}
